<h1>Listado de polizas</h1>
<hr>

<div class="row">
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
        <button routerLink="/poliza/nuevo" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
    </div>
</div>

<table class="table table-success table-striped mt-3 animated fadeIn">
    <thead>
        <tr>
            <th scope="col">#poliza</th>
            <th scope="col">Cliente</th>
            <th scope="col">Producto contratado</th>
            <th scope="col">Bien Asegurado</th>
            <th scope="col">Fecha de pago</th>
            <th scope="col">Estado</th>
            <th scope="col">tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>

    </tbody>
</table>
<div class="alert alert-danger text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation  fa-2x"></i></p>

</div>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync fa-spin fa-2x"></i></p>
    <p class="mb-0"> Espere Por favor</p>
</div>