<h1>Listado de polizas</h1>
<hr>

<div class="row">
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
        <button routerLink="/poliza/nuevo" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
    </div>
</div>

<table *ngIf="!cargando  && polizas.length > 0" class="table table-success table-striped mt-3 animated fadeIn ">
    <thead>
        <tr>
            <th scope="col">#poliza</th>
            <th scope="col">Cliente</th>
            <th scope="col">Producto contratado</th>
            <th scope="col">Bien Asegurado</th>
            <th scope="col">Fecha de pago</th>
            <th scope="col">Estado</th>
            <th scope="col">tools</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let poliza of polizas; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{poliza.cliente}}</td>
        <td>{{ poliza.producto }}</td>
        <td>{{ poliza.bien }}</td>
        <td>{{ poliza.fecha }}</td>
        <td>
            <span *ngIf="!poliza.estado" class="badge bg-success">Pagado</span>
            <span *ngIf="poliza.estado" class="badge bg-danger">Pendiente</span>
        </td>
        <td>
            <button class="btn btn-info " [routerLink]="['/poliza', poliza.id]"><i class="fa fa-pen"></i></button>
            <button (click)="borrarPoliza(poliza, i)" class="btn btn-danger ms-1"><i class="fa fa-trash"></i></button>
        </td>
        </tr> 

    </tbody>
</table>
<div *ngIf="!cargando && polizas.length === 0" class="alert alert-danger text-center mt-3 animated fadeIn">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation  fa-2x"></i></p>

</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync fa-spin fa-2x"></i></p>
    <p class="mb-0"> Espere Por favor</p>
</div>