<h1>Poliza <small>Producto contratado</small></h1>
<hr>

<div class="row">
    <div class="col">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-danger" routerLink="/polizas">
                <i class="fa fa-arrow-left"></i> Regresar
            </button>
        </div>
    </div>


</div>
<br>

<div class="row animated fadeIn">
    <div class="col">

    </div>
</div>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Firebase ID</label>
            <div class="col cont">
                <p class="id">{{ poliza.id}}</p>

        


            </div>
        </div>
        <br>

        <div class="form-group row">
            <label class="col-3 col-form-label">Cliente</label>
            <div class="col">

                <input class="form-control" type="text" formControlName="cliente" placeholder="Nombre del cliente">

            </div>
        </div>

    </div>
    <br>

    <div class="form-group row">
        <label class="col-3 col-form-label">Producto contratado</label>
        <div class="col">

            <input class="form-control" formControlName="producto" type="text" placeholder="Producto">


        </div>
    </div>
    <br>
    <div class=" form-group row">
        <label class="col-3 col-form-label">Bien asegurado</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Bien asegurado" formControlName="bien">


        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-3 col-form-label">fecha de pago</label>
        <div class="col">

            <input class="form-control" formControlName="fecha" type="date" placeholder="fecha de pago">


        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-3 col-form-label">Estado de pago</label>
        <div class="col-8" style="padding-top: 7px;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="estado" id="inlineRadio1" [value]="false">
                <label class="form-check-label" for="inlineRadio1">Poliza al dia</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="estado" id="inlineRadio2" [value]="true">
                <label class="form-check-label" for="inlineRadio2">Pendiente de pago</label>
            </div>


        </div>

    </div>
    <br>
    <br>






    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>

        </div>

    </div>

</form>